body {
    font-family: "Railway", sans-serif;
    color: black;
    background-color:#FFEBCD;
    letter-spacing: 0.02em;
   
  }

  .link {
    text-decoration: none;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    list-style: none;

    margin: 0;
  
    padding-left: 0;
  }
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  button {
    cursor: pointer;
    border: 1px solid transparent;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  .container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 820px){
    .container {
        width: 820px;
    }  }
    @media screen and (min-width: 1080px){
        .container {
            width: 1080px;
        }  }


  .main-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .accordion {
    margin: 0 auto; 
transition: all 250ms linear;}

    .accordion:hover .accordion-title {
        color: rgb(44, 14, 165);
    }
    .accordion:hover .cross-icon {
        opacity: 1;
        visibility: visible;
        fill: rgb(44, 14, 165);
    }
 .accordion-item {
    max-width: 100%;
  position: relative;
  border-top: 1px solid grey;
    /* border: 1px solid black; */
    margin: 0 auto;
 }
 .accordion-title {
    position: relative;
    display: block;
    padding: 20px 15px;
        /* border: 1px solid grey; */
color: black;
font-weight: 700;
    cursor: pointer;
/* background-color: rgb(178, 119, 119); */
    transition: color 300ms linear;
 }
 .accordion-title:hover {
   color: rgb(29, 92, 195) ;
 }
 
 /* .accordion-input:checked ~ .accordion-img {
    display: block;
 }
 .accordion-input:checked ~ .cross-icon {
    top:50%;
    transform: translateY(-50%) rotate(45deg)
 } */

 .accordion-input:hover ~ .accordion-img {
    display: block;
}
/* .accordion-title:hover  .cross-icon  {
    transform: translateY(-50%) ;

} */
 .accordion-input {
    -webkit-appearance: none;
    appearance: none;
   position: absolute;
 }

 .accordion-img {
display: none;
}

.cross-icon {
opacity:0;
visibility: hidden;
position: absolute;
top:30px;
transform: translateY(-50%) rotate(45deg);
right: 15px;
transition: all 250ms linear;
}
/* .accordion-title:hover .cross-icon  {
    top:50%;
transform: translateY(-50%) rotate(45deg);
} */
.img{
    margin: auto;
    margin-bottom: 20px;
}

.accordion-input:checked ~ .accordion-img {
    display: block;
}
.accordion-input:checked ~ .cross-icon {
transform: translateY(-50%);
}
.accordion-input:checked + .accordion-title {
color: black;    }

.accordion-item ~ .accordion-img {
    display: block;
}
.accordion-item:hover  .cross-icon {
    transform: translateY(-50%);

}
/* .accordion-item:hover  .accordion-title {
color:black
} */



